<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>
		{% block title %}Grissli{% endblock %}
	</title>
	<script src="/static/script.js"></script>
</head>
<body>
	<div id="content">
		{% block content %}

		{% endblock %}
	</div>
</body>
</html>