{% extends 'base.html' %}

{% block content %}
	{% if not url_info or not url_data %}
		<h1 id="hello">No URLs yet! Please add them at <a href="/admin">admin panel</a>.</h1>
	{% endif %}
	<textarea id="info" cols="60" rows="30">{{ url_info }}</textarea>
	<textarea id="data" cols="100" rows="30">{{ url_data }}</textarea>
{% endblock %}
